* {
    padding: 0pc;
    margin: 0px;
}
body{
    display: flex;
    background-color: #222;    
    flex-direction: row;
}
.sidebar {
    width: 150px;
    height: 100vh;
    background-color: black;
    order: -1;
}
.sidebar ul{
    color:white;
    list-style: none;
}
.sidebar li{
    padding: 10px 10px 15px 20px;
    font-size: 20px;
}
.sidebar a{
    text-decoration: none;
    color: white;
}
.sidebar a:hover{
    color: #999
    
}
