* {
    padding: 0pc;
    margin: 0px;
}
body{
    display: flex;
    background-color: #222;    
    flex-direction: row;
    height: 100vh;
    align-items: center;
}
.sidebar {
    position: fixed;
    width: 7%;
    height: 90%;
    background-color: #222;
    border-right: 3px solid turquoise;
    order: -1;
    margin: 0 3% 0 0;
    overflow: hidden;
}
.sidebar ul{
    color:white;
    list-style: none;
}
.sidebar li{
    text-align: center;
    padding: 50px 0 0 0;
    font-size: 20px;
    font-family: monospace
}
.sidebar a{
    text-decoration: none;
    color: white;
}
.sidebar a:hover{
    /* padding:5px; */
    border-bottom: 2px solid turquoise ;
}
